@import '@/styles/common';

.container {
  position: relative;
  line-height: 0;

  > img {
    width: 100%;
    @include mobile {
      min-height: 300px;
      object-fit: cover;
    }
  }
  > strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.375rem;
    color: white;
    text-align: center;
    font-weight: 300;
    line-height: 1.8;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: font-size 0.2s;
    @include tablet {
      font-size: 38px;
    }
    @include mobile {
      font-size: 28px;
    }
  }
}
