$main-color: #00a098;
$brown-color-10: #cfc5b3;
$brown-color-20: #f6f3ed;
$text-color-10: #333;
$text-color-20: #666;

@mixin tablet {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 760px) {
    @content;
  }
}

@mixin isHover {
  @media (hover: hover) {
    @content;
  }
}

@mixin layout {
  width: 100%;
  max-width: 90.5rem;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
  @include mobile() {
    padding: 0 1rem;
  }
}

@mixin title {
  line-height: 1.6;
  font-weight: 600;
  font-size: 2rem;
  color: $text-color-10;

  @include mobile() {
    font-size: 1.85rem;
  }
}
