@import './common.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'NanumSquareRound', sans-serif;
  user-select: none;
  line-height: 1;
}
body {
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  pointer-events: none;
}
button {
  appearance: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
