@import './common.scss';
@import './font.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'NanumSquareRound', sans-serif;
  user-select: none;
  line-height: 1;
}
html {
  min-width: 360px;
  font-size: 16px;
  @include tablet {
    font-size: 14px;
  }
}
body {
  &::-webkit-scrollbar {
    background-color: rgba($main-color, 0.2);
    width: 10px;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 12px;
  }
}
a {
  text-decoration: none;
  color: #333;
}
strong {
  display: block;
}
img {
  pointer-events: none;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  appearance: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
