@import '@/styles/common';

.container {
  &.wrap {
    @include layout;
    margin: 100px auto;
    @include tablet {
      margin: 80px auto;
    }
    @include mobile {
      margin: 60px auto;
    }
  }
}
