@import '@/styles/common';

.container {
  > .box {
    display: flex;
    gap: 4rem;
    @include tablet {
      flex-direction: column-reverse;
    }

    > .info {
      flex: 1;
      > strong {
        font-size: 1.5rem;
        color: $text-color-10;
        margin-bottom: 1.25rem;
      }
      > p {
        line-height: 1.8;
        color: $text-color-20;
        font-size: 1.125rem;

        &.bold {
          font-weight: 600;
          color: $text-color-10;
        }
      }
      > ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        > li {
          color: $text-color-20;
          font-size: 1.125rem;
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
    > img {
      object-fit: cover;
    }
  }
}
