@import '@/styles/common';

.container {
  background-color: #222;
  padding: 4rem 0;
  > .wrapper {
    @include layout;
    color: white;

    > div {
      margin-bottom: 1.25rem;

      > p {
        line-height: 2;
        > span {
          position: relative;
          padding-right: 2rem;
          line-height: 1.8;
          @include mobile {
            display: block;
          }

          &:last-of-type {
            &::after {
              display: none;
            }
          }
          &::after {
            position: absolute;
            right: 1rem;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(white, 0.4);
            content: '';

            @include tablet {
              display: none;
            }
          }
        }
      }
    }
    > p {
      line-height: 1.8;
      color: white;
    }
  }
}
