@import '@/styles/common';

.container {
  > .part {
    margin-bottom: 5rem;
    box-sizing: border-box;
    &.bg {
      padding: 2rem;
      background-color: #f9f9f9;
      border-radius: 8px;
    }

    > .title {
      font-size: 1.5rem;
      color: $text-color-10;
      margin-bottom: 1rem;
    }
    > .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1.25rem 0;

      > .button {
        width: fit-content;
        padding: 0 2rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 6px;
        height: 3.5rem;
        font-size: 1.125rem;
        white-space: nowrap;
        background-color: white;
        transition: all 0.2s;
        color: $text-color-10;
        @include mobile {
          height: 2.5rem;
        }
        &.active {
          background-color: $main-color;
          color: white;
        }
      }
    }
    > .box {
      display: flex;
      gap: 4rem;
      align-items: flex-start;
      @include mobile {
        gap: 2rem;
        flex-direction: column;
      }

      > .info {
        flex: 1;

        > .desc {
          font-size: 1.125rem;
          color: $text-color-20;
          line-height: 1.8;
          word-break: keep-all;
          @include mobile {
            > br {
              display: none;
            }
          }
        }
        > .list {
          margin: 1.25rem 0;
          display: flex;
          flex-direction: column;
          gap: 8px;

          > li {
            font-size: 1rem;
            color: $text-color-20;
            line-height: 1.6;
            display: flex;
            align-items: center;
            gap: 6px;

            > .title {
              font-weight: 600;
              color: $main-color;
              &::after {
                content: ' : ';
              }
            }
            > svg {
              flex-shrink: 0;
            }
          }
        }
        > .questions {
          display: flex;
          flex-direction: column;
          gap: 24px;

          > li {
            > .question {
              font-size: 1.25rem;
              color: $text-color-10;
              line-height: 1.8;
              margin-bottom: 0.5rem;
            }
            > .answer {
              font-size: 1.125rem;
              color: $text-color-20;
              line-height: 1.8;
              word-break: keep-all;
              padding: 2rem;
              box-sizing: border-box;
              background-color: #f9f9f9;
              @include mobile {
                > br {
                  display: none;
                }
              }
            }
          }
        }
      }
      > .questions {
        display: flex;
        flex-direction: column;
        gap: 24px;

        > li {
          > .question {
            font-size: 1.25rem;
            color: $text-color-10;
            line-height: 1.8;
            margin-bottom: 0.5rem;
          }
          > .answer {
            font-size: 1.125rem;
            color: $text-color-20;
            line-height: 1.8;
            word-break: keep-all;
            padding: 2rem;
            box-sizing: border-box;
            background-color: #f9f9f9;
            @include mobile {
              > br {
                display: none;
              }
            }
          }
        }
      }
      > img {
        max-width: 30rem;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        @include mobile {
          order: -1;
        }
      }
    }
  }
  > .flexContainer {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 5rem;
    box-sizing: border-box;

    > .wrapper {
      display: flex;
      gap: 4rem;
      @include mobile {
        flex-direction: column;
      }

      > .container {
        width: 50%;
        @include mobile {
          width: 100%;
        }

        > .title {
          font-size: 1.5rem;
          color: $text-color-10;
          margin-bottom: 1.5rem;
        }
        > .box {
          display: flex;
          gap: 4rem;
          align-items: flex-start;
          @include mobile {
            gap: 2rem;
            flex-direction: column;
          }

          > .info {
            flex: 1;

            > .list {
              display: flex;
              flex-direction: column;
              gap: 16px;
              &.row {
                > li {
                  flex-direction: row;
                }
              }

              > li {
                font-size: 1rem;
                color: $text-color-20;
                line-height: 1.6;
                display: flex;
                flex-direction: column;
                gap: 6px;
                word-break: keep-all;

                > .title {
                  font-weight: 600;
                  font-size: 1.125rem;
                  color: $main-color;
                }
                > svg {
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
