@import '@/styles/common';

.container {
  @include layout;
  margin: 80px auto;
  display: flex;
  gap: 12px;
  @include tablet {
    margin: 60px auto;
    flex-wrap: wrap;
  }
  @include mobile {
    margin: 40px auto;
  }
  > .link {
    background-color: white;
    height: 56px;
    border: 1px solid #e2e5eb;
    font-size: 1.125rem;
    color: $text-color-20;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.3s;
    padding: 0 1.25rem;
    @include tablet {
      width: fit-content !important;
      height: 2.5rem;
    }
    &.active {
      background-color: $main-color;
      color: white;
    }
  }
}
